<h1> {{5000 | currency }}</h1>
<h1> {{5000 | currency:'EUR' }}</h1>

<h2> {{'ish' | uppercase}}</h2>

<h2>{{ 0.45 | percent: '1.0'}}</h2>
<h2>{{ 0.45 | percent: '1.5-5'}}</h2>

<h2> {{ '2024-02-05' | date }}</h2>
<h2> {{ '2024-02-05' | date:'short' }}</h2>
<h2> {{ '2024-02-05' | date:'long' }}</h2>
<h2> {{ '2024-02-05' | date:'long'| uppercase }}</h2>

{{'timmy' | slice:1:3}}

{{object}}<br>

{{object | json}}<br>
<!--Custom pipes -->
Square Root : {{16 | sqrt}} <br>
Square Root : {{244 | sqrt | number}} <br>
<!--Multiple : {{5 | sqrt:2 }}-->

User List : {{userList | json}}
<!--<button type="button" (click)="getAll()">Display All users</button>-->